<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mybatis.dao.BrandMapper">
	<cache />
	
	<insert id="insertBrand"	parameterType="Brand">
		INSERT INTO BRAND_MEMBER VALUES(#{brand}, #{name}, #{tel}, #{email}, #{selfIntroduction}, #{inquiry}, #{id})
	</insert>
	
	
	
</mapper>	