<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mybatis.dao.ShoppingMapper">
	<cache />
	<select id="getIngredient" parameterType="int" resultType="Ingredient">
		SELECT
			*
		FROM Ingredient
		WHERE rcpnum = #{rcpnum}
	</select>
	
	<select id="getRcp" parameterType="int" resultType="Rcp">
		SELECT
			*
		FROM Rcp
		WHERE rcpnum = #{rcpnum}
	</select>
	
	<insert id="insertCart"	parameterType="Cart">
		INSERT INTO cart VALUES(#{cartNum}, #{memNum}, #{productName}, #{qty}, #{price})
	</insert>
	
	<select id="getCart" parameterType="int" resultType="Cart">
		SELECT
			*
		FROM Cart
		WHERE memNum = #{memNum}
		<!-- ORDER BY cartNum DESC; -->
	</select>
	
	<select id="getCartintoJjim" parameterType="int" resultType="Cart">
		SELECT
			*
		FROM Cart
		WHERE cartNum = #{cartNum}
	</select>
	
	<select id="checkjjim" parameterType="hashmap" resultType="int">
		SELECT
			count(*)
		FROM Jjim
		WHERE memNum = #{memNum}
		AND productName = #{productName}
	</select>
	
	<insert id="insertjjim"	parameterType="Jjim">
		INSERT INTO jjim VALUES(#{jjimNum}, #{memNum}, #{productName}, #{price}, sysdate)
	</insert>
	
	<delete id="deleteCartvalue" parameterType="int" >
		DELETE FROM cart
		WHERE cartNum = #{cartNum}
	</delete>
	
	<select id="getSale" parameterType="int" resultType="Sale">
		SELECT
			*
		FROM sale
		WHERE rcpNum = #{rcpNum}
	</select>
		
	<select id="getMember" parameterType="int" resultType="Member">
		select * 
		from member
		where memNum=#{memNum}
	</select>
	
	<select id="getAddress" parameterType="int" resultType="MemAddress">
		select * 
		from mem_address
		where memNum=#{memNum}
	</select>
	
	<insert id="insertMemaddr"	parameterType="MemAddress">
		INSERT INTO mem_address VALUES(#{addressNum}, #{memNum}, #{memName}, #{address1}, #{address2}, #{address3}, #{zipcode}, #{recipient})
	</insert>
	
	<insert id="insertOrderProduct"	parameterType="OrderProduct">
		INSERT INTO order_product VALUES(#{productNum}, #{orderNum}, #{productName}, #{qty}, #{price})
	</insert>
	
	<insert id="insertOrderInfo"	parameterType="OrderInfo">
		INSERT INTO order_info VALUES(#{orderNum}, #{memNum}, sysdate , #{amount}, #{memName}, #{recipient}, #{address}, #{zipcode}, #{memo}, #{howtopay})
	</insert>
	
	
	
	
	
	<select id="insert_maxCart" resultType="int">
		SELECT
			nvl(max(cartNum)+1,0) 
		FROM Cart
	</select>
	<select id="insert_maxJjim" resultType="int">
		SELECT
			nvl(max(jjimNum)+1,0) 
		FROM Jjim
	</select>
	<select id="insert_maxOP" resultType="int">
		SELECT
			nvl(max(productNum)+1,0) 
		FROM order_product
	</select>
	<select id="insert_maxMA" resultType="int">
		SELECT
			nvl(max(addressNum)+1,0) 
		FROM mem_address
	</select>
	
</mapper>	